:root {
  --f7-ios-primary: #3E84F6;
  --f7-ios-primary-shade: #3E84F6;
  --f7-ios-primary-tint: #3E84F6;
}
.ios {
  --f7-theme-color: var(--f7-ios-primary);
  --f7-theme-color-rgb: var(--f7-ios-primary-rgb);
  --f7-theme-color-shade: var(--f7-ios-primary-shade);
  --f7-theme-color-tint: var(--f7-ios-primary-tint);
}
.md {
  --f7-theme-color: var(--f7-ios-primary);
  --f7-theme-color-rgb: var(--f7-ios-primary-rgb);
  --f7-theme-color-shade: var(--f7-ios-primary-shade);
  --f7-theme-color-tint: var(--f7-ios-primary-tint);
}
.ios .color-primary,
.ios.color-primary {
  --f7-theme-color: var(--f7-ios-primary);
  --f7-theme-color-rgb: var(--f7-ios-primary-rgb);
  --f7-theme-color-shade: var(--f7-ios-primary-shade);
  --f7-theme-color-tint: var(--f7-ios-primary-tint);
}
      
      .slider{
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: auto;
      }
      .slider div{
        flex-shrink:0;
        width:85px;
        height:85px;
      }
      .slider img{
      width:70px;
      border-radius:15px;
      margin:5px;
      }      
      .popup{
      border-top-left-radius: 30px;
      border-top-right-radius:30px;
      margin-top:40px;
      }
      .popup-close{
      padding-top:10px;
      margin:0;
      padding-right: 12.5px;
      }
      .card-expandable{
      border-radius:30px;
      }
      .item-media img{
      width: 60px;
      height: 60px;
      border-radius:23.3% 
      
      }
      .screenshot img{
      width:230px;
      border-radius:20px;
      margin:5px;
      }
      .placeholder{
      border-radius:11px;
      border-width:1px;
      border-color:grey;
      }
      .searchbar-disable-button{
      display: block; 
      margin-right: -52px
      }
      .col-100{
      margin-top:16px;
      
      }
      .col-50{
      margin-top:16px;
      }
      .col-50 i{
      font-size:20px
      }
      .col-100 i{
      font-size:25px
      }
      .button-raised{
      border-radius: 10px;
      }
      .button-large{
      border-radius: 15px;
      }
      .tabbar-label{
      font-size:8px;
      }             
      .get{
      background-color: #3E84F6; width: 60px; height: 28px; border-radius: 30px; text-align: center; line-height: 27.5px; font-weight: bold; font-size: 1.17em; box-sizing: border-box; color: white; display: inline-block; vertical-align: text-bottom; margin-top: 8px; margin-bottom: 5px;
      }
      .bg{
      height:fixed;
      }
      .tab-link-highlight{
      width: 27%;
      transform: translate3d(0%, 0px, 0px);
      }
      .swiper {
      width: 90%;
      height: 50%;
      border-radius:20px;
    }
    .swiper-slide {
      border-radius:20px;
    }
    .swiper-slide img {      
      width: 100%;
      height: 100%;    
      border-radius:20px;
    }
      .toolbar-bottom{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
     }
    