:root {
  --f7-ios-primary: #3E84F6;
  --f7-ios-primary-shade: #3E84F6;
  --f7-ios-primary-tint: #3E84F6;
}
.ios {
  --f7-theme-color: var(--f7-ios-primary);
  --f7-theme-color-rgb: var(--f7-ios-primary-rgb);
  --f7-theme-color-shade: var(--f7-ios-primary-shade);
  --f7-theme-color-tint: var(--f7-ios-primary-tint);
  --f7-block-inset-border-radius: 15px;
  --f7-list-inset-border-radius: 15px;
  --f7-card-border-radius: 20px;
}
.ios .color-primary,
.ios.color-primary {
  --f7-theme-color: var(--f7-ios-primary);
  --f7-theme-color-shade: var(--f7-ios-primary-shade);
  --f7-theme-color-tint: var(--f7-ios-primary-tint);
}
body{
 -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;

          }
          .page {
  transition: background-color 1s;
}


a {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
          ul{
          transition: background-color 1s;
          }
          .toolbar-bottom{
          transition: background-color 1s;
          }
          .navbar-bg{
  transition:background-color 1s,transform 0.5s,opacity 0.5s;
  will-change:background-color,transform,opacity;
  transform:translateZ(0);opacity:1}
}

          img {
    pointer-events: none;
}
 #system-info {
      padding: 10px;
      margin: 10px;
    }
  .card-opened > .card-content {
                                              padding-top: 100px;
                                                    transition: .5s;
                                                }
                                 
      .popup{
      border-top-left-radius: 15px;
      border-top-right-radius:15px;
      margin-top:43px;
      }
      .card-expandable{
      border-radius:30px;
      }
      .item-media img{
      width: 60px;
      height: 60px;
      border-radius:23.3%
      } 
     .screenshot{
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: auto;
      }
      .screenshot div{
        flex-shrink:0;
        width:230px;
        height:auto;
      } 
      .screenshot img{
      width:230px;
      border-radius:20px;
      margin:5px;
      }
      .placeholder{
      border-radius:11px;
      border-width:1px;
      border-color:grey;
      }
      .searchbar-disable-button{
      display: block; 
      margin-right: -52px
      }
      .button-raised{
      border-radius: 10px;
      }
      .button-large{
      border-radius: 15px;
      }
      .tabbar-label{
      font-size:8px;
      }             
      .get{
      background-color: var(--f7-ios-primary); width: 60px; height: 28px; border-radius: 30px; text-align: center; line-height: 27.5px; font-weight: bold; font-size: 1.17em; box-sizing: border-box; color: white; display: inline-block; vertical-align: text-bottom; margin-top: 8px; margin-bottom: 5px;
      }
      .bg{
      height:fixed;
      }
      .tab-link-highlight{
      width: 27%;
      transform: translate3d(0%, 0px, 0px);
      }
      .swiper {
      width: 90%;
      height: 50%;
      border-radius:20px;
    }
    .swiper-slide {
      border-radius:20px;
    }
    .swiper-slide img {      
      width: 100%;
      height: 100%;    
      border-radius:20px;
    }
      .toolbar-bottom{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
     }
    .popup-swipe-nav{
    position:absolute;
    height:30px;
    z-index:500;
    left:0;top:0;
    width:100%;display:flex;
    align-items:center;
    justify-content:center;
    -webkit-backdrop-filter:saturate(180%) blur(var(--f7-bars-translucent-blur));backdrop-filter:saturate(180%) blur(var(--f7-bars-translucent-blur));background:var(--handler-navbar-bg)}