body{
 -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: moz-none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
          }
          img {
    pointer-events: none;
}
.top{
    background-color:#fff;
    background-size: cover;
    text-align:left;
    padding-bottom:20px;
}
.top img{
    width:100px;
    height:100px;
    margin-top:20px;
}
    .topnav {
      width: 100%;
      position: fixed;
      justify-content: center;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(42, 42, 42, 0.4);
      padding: 13px 0px;
      text-align: center;
      top: 0;
      border-radius: 20px;
      font-weight: bold;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    hr.line {
   border: 0;
    height: 1px;
    margin: 23px;
    background-color: grey;
    }
    .app{
    display:inline-block;
    width:87%;
     -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(42, 42, 42, 0.4);
    max-width:auto;
    padding:15px;
    border-radius:20px;
    border-bottom: 1px solid rgb(41, 41, 41);  
    margin-top:10px;
    margin-bottom:10px;
    height:55px !important;
}
.app a{
    float:right;
    background-color: #3E84F6; 
    width: 70px; 
    height: 28px; 
    border-radius: 30px; 
    text-align: center; 
    line-height: 27.5px; 
    font-weight: bold; 
    font-size: 1.15em; 
    box-sizing: border-box; 
    color: white; 
    display: inline-block; 
    vertical-align: text-bottom; 
    margin-top: 12px;  
}
.app img{
    float:left;
    width:53px;
    height:53px;
    border-radius:23.3%;
}
.app h2{
    font-size:17px;
    margin-left:60px;
    margin-top:5px;
    margin-bottom:5px;
    text-align:justify;
}
.app p{
    font-size:15px;
    margin-left:60px;
    margin-top:0px;
    margin-bottom:0px;
    text-align:justify;
}
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: linear-gradient(134deg, #0082ff, #000000, #00dcff, #000000);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
@keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
#splash-screen img {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  position: center;
}
.swal-modal {
  border-radius:20px;
  font-size: 10px;
  color: #fff;
}
.swal-button {
  border-radius: 15px;
  background-color: #4962B3;
  font-size: 15px;
  text-align: center;
}
.swal-text {
  text-align: center;
}
.swal-title {
  margin: 0px;
  font-size: 20px;
}
.featured {
background: linear-gradient(200deg, #000000, #164370, #000000, #212a33, #164370);
position: center;
padding-bottom: 15px;
border-radius: 25px;
width: 95%;
margin-bottom: 30px;
max-width: 350px;
display: inline-block;
}
.featured .banner {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
margin-bottom: 5px;
border-bottom: 1px solid rgb(41, 41, 41);
color:#000;
}
.featured .icon {
float: left;
margin-left: 10px;
width: 45px;
height: 45px;
border-radius: 23.3%;
}
.featured h1 {
font-size: 17px;
font-weight: 600;
margin-left: 60px;
margin-top: 3px;
margin-bottom: 0px;
text-align: justify;
color: #fff;
}
.featured p {
font-size: 14px;
font-weight: 400;
margin-left: 60px;
margin-top: 0px;
margin-bottom: 0px;
text-align: justify;
}
button{
background-color:#44444C;
padding:15px;
border-radius:20px;
color:#fff;
font-weight:700;
border:0;
font-size:14px;
width:90%;
margin-top: 15px;
margin-bottom: 15px;
border-bottom: 1px solid rgb(41, 41, 41);
       }
       a{
       color:#fff;
        text-decoration:none;
        }
p{
color: white;
}
.customicons{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }
      html, body {
    max-width: 100%;
}
      .customicons div{
        flex-shrink:0;
        width:85px;
        height:85px;
      }
        .slider{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .slider div{
        flex-shrink:0;
        width:280px;
        height:160px;
      }
       .navbar {
    -webkit-backdrop-filter: saturate(140%) blur(20px);
  backdrop-filter: saturate(140%) blur(20px);
    background-color: rgba(42, 42, 42, 0.4);
    border: 1px solid rgb(41, 41, 41);
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    justify-content: space-around;
    margin: 5% auto;
    left: 0;
    right: 0;
    width: 70%;
    height:45px;
    display: flex;
    max-width: 350px;
    border-radius: 40px;
  }
.navbar a {
font-size: 35px;
justify-content: space-around;
}
.navbar a.current {
color: #3E84F6;
}
.navbar a.none {
color: #fff;
}
.alert {
  padding: 20px;
  width: auto;
  border-radius: 20px;
  border-style: solid;
  border-color: #E5E4E2;
  border-width: 1px;
  height: auto;
  width: 80%;
  background-color: #818589;
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
}
#myInput {
    background-position: 10px 12px;
    position: center; 
    width: 100%; 
    font-size: 16px;
    color: #fff;
    padding: 12px 20px 12px 40px;
    border-radius:20px;
     -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(42, 42, 42, 0.4);
    max-width: 310px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  body {
    margin:0px;
    margin:0px;
    padding:0;
    font-family:helvetica;
    color: #FFFFFF;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    background: linear-gradient(270deg, #000000, #164370, #000000, #212a33, #164370);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@media (prefers-color-scheme: light) {
body{
    margin:0px;
    margin:0px;
    padding:0;
    font-family:helvetica;
    color: #FFFFFF;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    background: linear-gradient(270deg, #000000, #fff, #000000, #fff, #164370);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
